:root{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #F5F5F5;
}

p{
  line-height: 1.5em;
}

article{
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

ul{
  list-style: none;
}

a:hover, a:focus    {
  background: #3C805B;
}

.list-item{
  position: relative;
  text-align: center;
  display: inline-block;
}

.link{
  width: 100px;
  display: inline-block;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 30px;
  background: #47986D;
  border: 1px solid #3C805B;

}

.list-item:hover > .sub-list{
  display: block;
}

.sub-list-item:hover > .sub-list-woomen{
  display: block;
}

.sub-list{
  list-style: none;
  position: absolute;
  padding: 0;
  display: none;
  top: 100%;
  left: 0px;
  right: 0px;
}

.sub-list-woomen{
  list-style: none;
  position: absolute;
  padding: 0;
  display: none;
  top: 50px;
  left: 100%;
  right: 0px;
}
